*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    
}

:root{
    --fs-n-400: 25px;
    --fsm-n-400: 17px;
    --fsm2-n-400: 17px;
    --fs-x-500: 360%;
    --fsm-x-500: 280%;
    --fsm2-x-500: 280%;
}

body{
    background-color: white
}
header{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 10;
    border-bottom: solid 2px rgb(219, 218, 218);
    
    
}
nav{
    
    width: 100%;
    display: flex;
    z-index: 1;
}

.options{
    margin-left: 10%;
    font-size: 19px;
    display: flex;
    list-style: none;
}
.options li{
    cursor: pointer;
    margin: 17px 7px;
    padding: 9px 17px 0 17px; 
    color:#065092; 
}

.nav-buttons .log{
    border: 2px rgb(22, 32, 100) solid;
    background-color: white;
    cursor: pointer;
    width: 85px; 
    font-size: 15px;
    height: 40px;
    margin: 18px 15px 0 0;
    border-radius: 5px;
    color: rgb(22, 32, 100);
}
.nav-buttons .login{
    border-radius: 5px;
    cursor: pointer;
	font-size: 15px;
	padding: 9px 15px;
	color: rgb(22, 32, 100);
	text-decoration: none;
    margin: 18px 15px 0 0;
    border-color: rgb(22, 32, 100);
    background-color: #ffffff;

}
.nav-buttons button:hover{
    border: 2px white solid;
    background-color: rgb(22, 32, 100);
    color: white;
    border-radius: 5px;
    transition: all 0.15s ease-in 0s;

}
header i{
    font-size: 0;
}
header img{
   height: 100%; 
   margin: 15px; 
   margin-left: 10%;
}

 .min-logo{
    display: none;
 }
 .options h3{
    display: none;
    
 }
   
 .nav-buttons{
    margin: 0 10% 0 5% ;
    display: flex;
    justify-content: flex-end;
}

.options li:hover{
    background-color: rgb(22, 32, 100);
    color: white;
    border-radius: 5px;
    transition: all 0.15s ease-in 0s;
    
 }

 header .fa-solid{
    cursor: pointer;
 }

 .cover{
	top: 0;
	left: 0;
	position: relative;
	background: url('img/headway-5QgIuuBxKwM-unsplash.jpg') center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.603);
	background-blend-mode: multiply;
	width: 100%;
	height: 600px;
	 
   }

   .heroImage{
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 30px;
	background-color: transparent;
	position: absolute;
	top: 25%;
	left: 23%;
	color: white;
	text-align: center;
    width: 40%;
}

.heroImage button{
	font-weight: 500;
	font-size: 15px;
	padding: 10px 15px;
	color:#ffffff;
	text-decoration: none;
  }

.promo{
	width: 600px;
}

.heroImage h1{

	font-size: var(--fs-x-500);
	background-color: transparent;
	font-weight: 400;
}
.heroImage .blue{
	color:  #263374;

}

.heroImage h3{
	line-height: 1.5;
	font-size: var(--fs-n-400);
	padding: 30px;
	background-color: transparent;
	font-weight: 400;
	
}
.heroImage h4{
	font-size: 20px;
	padding: 30px;
	background-color: transparent;
	font-weight: 300;
	
}

form{
  border-radius: 5px;
  z-index: 0.5;
  position: absolute;
  height: auto;
  background: rgb(255, 255, 255);
  display: inline;
  top: -8%;
  left: 115%;
  border: 1px solid #919191;
  width: 50%;
}

.type{
	margin: 15px 0px;
	border: 1px solid #919191;
	border-radius: 5px;
	padding: 10px;
	height: 35px;
	font-size: 15px;
	width: 80%; 
  }

form p{
	font-size: 15px;
    color:  rgb(3, 61, 76);
	font-weight: lighter;
 } 


 form a{
    color:  rgb(3, 61, 76);
	margin-bottom: 25px;
	display: block;
	text-align: center;
	font-weight: none;
	cursor: pointer;
}
  

.signUp{
	margin-top: 15px;
	font-size: 20px;
    color:  rgb(3, 61, 76);
	font-weight: lighter;
}
.erorr{
	margin-top: 13px;
	font-size: 13px;
    color: red;
	font-weight: lighter;
}
.success{
    color: green;
    margin: 15px;
	font-size: 18px;
	font-weight: lighter;
}
 
.remember{
	justify-content: center;
	text-align: left;
	display: flex;
}
.remember p {
	margin-left: 10px;
	margin-bottom: 3px;
}

.cta2{
	padding: 9px 20px;
	background-color:#263374;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	margin: 20px 0px;
}
.cta2:active{
	background-color:#2e42a8;

}

article h1{
   margin-bottom: 10px;
   font-size: 35px;
   color: white;

}
article{
    line-height: 1.;
    text-align: center;
    padding: 25px 20px;
    background-color: #263374;
}

article p{
    font-size: 25px;
    
    color: white;
}

section{
	display:flex;
	justify-content: center;
	align-items: center;
    height: 70vh;
    padding: 45px;
    width: 100%;
}
.two{
    background-color: rgb(238, 241, 247);;
}
.path img{
    height:250px;
    margin-bottom: 15px;
    
}
.path{
    text-align: center; 
    margin: 50px;
}
.path:hover img{
    scale: 1.03;
    transition: 0.3s all  ease 0.3s;
}

.titlePath{
    color: #263374;
	margin-bottom: 5px;
    font-size: 20px;
    max-width: 350px;
   
}
.textPath{
    max-width: 350px;
    font-size: 16px;
}
.path button{
    padding: 9px 20px;
	background-color:#263374;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	margin: 10px 0px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.right{
    margin: 0px 200px 0px 0px;
}

.left{
    margin: 0px 0px 0px 130px;
}


.infoImg img{
	height: 450px;
}
.four{
    background-color: rgb(238, 241, 247);;
    margin: 0;
}


.info2{
	text-align: left;
	margin-left: 50px;
}

.infoHH2{
	color: #263374;
	margin-bottom: 5px;
    font-size: 30px
}

.infoP  {	
	margin-top: 100px;
}
.infoPP  {
    
	line-height: 2;
	margin: 0 0 90px 0px;
    max-width: 600px;
    font-size: 25px;
}

.infoPP a{
    font-size: 25px;
    color: #263374;
    padding: 0px 10px;
    font-weight: bold;
    cursor: pointer;

}
.infoPP a:hover{
    width: 10px;
}
.infoPP a:active{
    color: #2e42a8; 
}

.infoPP  button{
	padding: 9px 12px;
	background-color:#263374;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	margin: 0px 13px;
    color: white;
}



